<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="Test-DB-Acle Test Suite">
        <directory>./TestDbAcle</directory>
        <directory phpVersion="5.3.0" >./Functional/tests/Php5_3</directory>
        <directory phpVersion="5.4.0" >./Functional/tests/Php5_4</directory>
    </testsuite>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>
  
</phpunit>
